<h2>Search Results</h2>

<% @stations.each do |station| %>
  <p>Station Name: <%= station[:station_name]%></p>
  <p>Address: <%= station[:street_address] %></p>
  <p>Fuel Type: <%= station[:fuel_type_code] %></p>
  <p>Distance: <%= station[:distance]%></p>
  <p>Access Times: <%= station[:access_days_time] %></p>
  <br>
<% end %>
