<h2>Search Results</h2>

<% @stations.each do |station| %>
  <%= station.name %>
  <%= station.address %>
  <%= station.fuel_type_code %>
  <%= station.distance %>
  <%= station.access_times %>
<% end %>
